resources/*
!resources/plugins/
resources/plugins/*
!resources/plugins/README.txt
!resources/overlays/
resources/overlays/*
!resources/overlays/README.txt
.idea
btsync-media.env 
btsync-db.env 


geoserver_data/*
!geoserver_data/README.md

geoserver_extensions/*
!geoserver_extensions/README.md
